<%= render partial: "shared/errors", locals: {obj: @comment}%>
    <%= form_with model: [@post, @comment] do |f| %>
        <div class="mb-3 row">
            <div>
                <%= f.text_area :body,  placeholder: "Содержание", class: 'form-control' %>
            </div>
        </div>
    <%= f.submit "Изменить", class: 'btn btn-primary'%>
<%end%>